[submodule "vendor/assets/Leaflet"]
	path = vendor/assets/Leaflet
	url = git@github.com:Leaflet/Leaflet.git
[submodule "vendor/assets/Leaflet.label"]
	path = vendor/assets/Leaflet.label
	url = git@github.com:Leaflet/Leaflet.label.git
[submodule "vendor/assets/Leaflet.draw"]
	path = vendor/assets/Leaflet.draw
	url = git@github.com:Leaflet/Leaflet.draw.git
